<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width"/>
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
<table class="body">
    <tr>
        <td>
            <center>

                <spacer size="15"></spacer>
                <container class="bg1 bg">
                    <row>
                        <columns large="6" class="custom-pb">

                        </columns>
                        <columns large="6" class="custom-pb">
                            <spacer size="50"></spacer>
                            <h2 class="email-title small-text-center">привет</h2>
                            <spacer size="10"></spacer>

                            <p class="text-left text-home small-text-center">Благодарю вас за регистрацию! Вы сделали
                                правильный выбор и теперь можете посмотреть бесплатный видео-урок. На нем вы определите
                                свой сценарий поведения в конфликтах и узнаете, как побеждать в рабочей и личной
                                жизни.</p>
                            <spacer size="10"></spacer>
                            <h3 class="small-text-center subtitle-home">Чтобы открыть видео-урок,
                                <span class="text-orange">жмите на ссылку:</span></h3>

                            <spacer size="10"></spacer>
                            <center>
                                <a class="home-btn small-text-center" href="">Открыть видеоурок</a>
                            </center>

                            <spacer size="30"></spacer>
                        </columns>
                    </row>
                </container>

                <container class="center bg bg2">
                    <row>
                        <columns large="12" class="custom-pb">
                            <spacer size="30"></spacer>
                            <h2 class=" text-center email-title2 ">Но и это <span class="text-orange">еще не все</span>
                            </h2>
                            <spacer size="10"></spacer>

                            <p class="text-center text-home text-second small-text-center">Специально для вас я подготовил <span
                                    class="text-orange">полезный подарок</span>, который поможет <span
                                    class="text-orange">обворожить любую девушку за 2 минуты!</span> Интересно?</p>
                            <spacer size="500"></spacer>

                            <p class="text-center small-text-center  bottom-desc"> Тогда скорее переходите по ссылке и забирайте <span
                                    class="text-orange">бесплатный бонус!</span></p>
                            <spacer size="10"></spacer>
                            <center>
                                <a class="small-text-center text-center home-btn" href="">Забрать подарок</a>
                            </center>

                            <spacer size="10"></spacer>
                        </columns>
                    </row>
                </container>
                <spacer size="15"></spacer>

                <container  class="center bg bg3">
                    <row>
                        <columns>
                            <spacer size="30"></spacer>
                            <center>
                                <h3 class="text-center text-orange footer-title">до встречи!</h3>
                                <spacer size="10"></spacer>
                                <div class="border"></div>
                                <spacer size="10"></spacer>
                                <p class="text-center footer-desc">С пожеланием любви,
                                    Павел Раков</p>
                                <spacer size="10"></spacer>
                            </center>
                        </columns>
                    </row>
                </container>

                <spacer size="15"></spacer>



            </center>
        </td>
    </tr>
</table>


</body>
</html>